<div id="teachers" class="tab-content">
    <div class="centered-content">
      <h2>Teacher Login</h2>
  
      <!-- Show errors ONLY if the active tab is 'parents' -->
      {% if active_tab == 'teachers' %}
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
          {% for message in messages %}
            <p style="color: red; text-align: center; font-weight: bold;">{{ message }}</p>
          {% endfor %}
        {% endif %}
        {% endwith %}
      {% endif %}     
        <form method="POST" action="{{ url_for('auth.login') }}">
            <input type="hidden" name="role" value="Teacher">
            <label for="username">Username:</label>
            <input type="text" name="username" maxlength="50" required>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <button type="submit">Log In</button>
        </form>
        <h5 style="color: red; text-align: center; font-weight: bold;">Forgotten Username/Password?  Contact your IT department.</h5>
    </div>
</div>
