<!DOCTYPE html>
<html lang="en">
<head>
    <title>Assignments & Homework</title>
</head>
<body>
    <h1>Assignments & Homework</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Class</th>
                <th>Assignment</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <td>{{ assignment.class_number }}</td>
                <td>{{ assignment.assignment_name }}</td>
                <td>{{ assignment.due_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
